<h1>Wild World</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Za9LY6Q3EuI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>La la la
  La la la
  La la la
  Now that I've lost everything to you
  You say you want to start something new
  And it's breaking my heart you're leaving
  Baby I'm greaving
  But if you want to leave take good care
  Hope you have a lot of nice things to wear
  But then a lot of things turn bad out there
  Oh baby baby it's a wild world
  It's hard to get by just upon a smile
  Oh baby baby it's a wild world
  I'll always remember you like a child girl
  You know I've seen a lot of what the world can do
  And it's breaking my heart in two
  'Cause I never want to see you sad girl
  Don't be a bad girl
  But if you want leave take good care
  Hope you make a lot of nice friends out there
  But just remember there's a lot of bad everywhere
  Oh baby baby it's a wild world
  It's hard to get by just upon a smile
  Oh baby baby it's a wild world
  And I'll always remember you like a child girl yeah
  La la la
  La la la
  Baby I love you, but if you want to leave take good care
  Hope you make a lot of nice friends out there
  But just remember there's a lot of bad everywhere
  Oh baby baby it's a wild world
  It's hard to get by just just upon a smile
  Yeah yeah yeah
  Oh baby baby it's a wild world
  And I'll always remember you like a child girl oh yeah
  Oh baby baby it's a wild world
  It's hard to get by just upon a smile
  Yeah
  Oh baby baby it's a wild world
  And I'll always remember you like a child girl</p>