<footer class="container">
  <hr class="my-1">
  <small>
    <a href="https://github.com/kokihoon">KoKiHoon's GitHub</a>
    <a href="https://likelion.net">LikeLion Homepage</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Contact', '#' %></li>
      <li><%= link_to 'Log in',  new_user_session_path %></li>
    </ul>
  </nav>
</footer>